@media screen and (max-width: 768px) {
  .random-items {
    grid-template-columns: auto auto auto;
  }
  #mqshow {
    display: inline-block;
  }
  .weekend-special {
    /* justify-content: space-between; */
    padding: 5rem 1rem;
  }
  .weekend-special-text {
    flex: 55%;
  }

  .weekend-special-img {
    flex: 45%;
  }
  .regular-item-container {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 818px) {
  .weekend-special-text > h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 690px) {
  .weekend-special {
    flex-direction: column;
    background-image: url(/images/dybala.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(82, 65, 102);
  }
  .weekend-special-text {
    text-align: center;
    margin-bottom: 5vh;
    background: rgba(173, 159, 159, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2rem;
    padding: 2rem;
  }
  .weekend-special-img > img {
    width: 90%;
  }
  .weekend-special-img {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .random-items,
  .regular-item-container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 620px) {
  .first-part-footer {
    flex-direction: column;
  }
  .first-element,
  .second-element,
  .third-element {
    margin-bottom: 4vh;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }
  #main {
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    border-bottom: silver 0.4vh solid;
    border-radius: 3px;
  }
  .footer-wrap {
    align-items: flex-start;
  }
  .fourth-element {
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    border-bottom: silver 1vh solid;
  }
  .terms {
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  .random-items,
  .regular-item-container {
    grid-template-columns: auto;
  }
  .wkend-label-text > label {
    font-size: 1.5em;
    text-align: left;
  }
  .simple-layout > label {
    font-size: 0.9em;
  }
.simple-layout{
  padding: 0.5rem;
}
}
