@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  width: 100%;
}
.store-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.store {
  width: 120px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.store:hover {
  transform: scale(1.199, 1.199);
  border: 1px solid rgb(82, 65, 102);
}
.store:active {
  transform: scale(1, 1);
  background: rgba(204, 204, 204, 0.322);
}
.store img {
  width: 30px;
}
.store p {
  font-size: 16px;
  font-weight: 600;
}
#nb {
  width: 165px;
}
#nb img {
  width: 35px;
}
#reebook {
  width: 135px;
}
#reebook img {
  width: 35px;
}
/* firs   t section */
.simple-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2rem;
}
.simple-layout > label {
  font-size: 1.3em;
  font-weight: 600;
}
.simple-layout > select {
  background-color: whitesmoke;
  border: none;
  font-weight: 600;
  padding: 0.4rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
/* 1st page */
.random-items-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.random-items {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 95%;
  grid-gap: 2rem;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.item-box {
  position: relative;
  width: 100%;
  height: 45vh;
  background: rgb(82, 65, 102);
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-box img {
  width: 90%;
  transition: all 0.3s ease;
}

.item-box:hover.item-box img {
  width: 90%;
}
.item-box:hover .easy-navs {
  bottom: 0;
}
.easy-navs {
  position: absolute;
  bottom: -50vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.785);
  padding: 1rem;
  line-height: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 -3px 10px 0px rgba(0, 0, 0, 0.15);
}
.easy-navs h3,
.flexible-details h3 {
  display: inline-block;
  font-size: 1em;
}
.easy-navs h6 {
  font-size: 1em;
  color: purple;
  font-weight: 600;
}
.same-prob {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.easy-navs p,
.regular-item-details p {
  font-size: 1em;
  color: #1e1e1e;
  font-weight: 500;
}
.holy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.holy button {
  padding: 8px 10px;
  border: 0;
  width: 45%;
  border-radius: 3px;
  background: purple;
  margin-top: 1rem;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
.holy button:active {
  transform: scale(0.9, 0.9);
}

#buy-now {
  background: none;
  border: 1px solid purple;
  color: purple;
}
#buy-now:active {
  background: purple;
  color: white;
}
#add-to-cart:active {
  background: none;
  border: 1px solid purple;
  color: purple;
}
#mqshow {
  display: none;
}
/* 2nd page */
.weekend-special {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: max-content;
  background: linear-gradient(
    270deg,
    rgb(228, 106, 228),
    rgb(82, 65, 102) 100%
  );
  padding: 3rem;
}
.weekend-special-text {
  flex: 60%;
}
.weekend-special-img {
  flex: 40%;
}
.weekend-special-img img {
  width: 100%;
}
.weekend-special-text button {
  background: white;
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 1.3em;
  font-weight: 700;
  transition: 0.15s;
  padding: 1rem;
}
.weekend-special-text button:hover {
  background: rgb(82, 65, 102);
  color: white;
}
.weekend-special-text button:active {
  background: rgba(82, 65, 102, 0.068);
  color: white;
}
.weekend-special-text h1 {
  font-size: 3em;
  line-height: 12vh;
}

/* 3rd page text */
.wkend-label-text {
  margin: 4vh 0;
  text-align: center;
}
.wkend-label-text label {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  background: linear-gradient(
    270deg,
    rgb(228, 106, 228),
    rgb(82, 65, 102) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* 3rd page */
.regular-item-container-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.regular-item-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin-top: 5vh;
  width: 95%;
}
.regular-item-box {
  width: 100%;
  height: 45vh;
  background: rgb(180, 180, 180);
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.single-item {
  padding: 0;
  margin: 0;
}
.regular-item-box img {
  width: 100%;
}
.flexible-details {
  display: flex;
  justify-content: space-between;
}
.regular-item-details {
  margin-top: 8px;
  line-height: 20px;
}
.flexible-details h6 {
  font-size: 16px;
  font-weight: 700;
}

/* Pagination-------------------------------------- */

.pagination-container {
  margin-top: 7vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  color: #383838;
}

.pagination ul {
  margin: 20px 30px;
}

.pagination ul li {
  display: inline-block;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.pagination ul li.active {
  color: #fff;
  background: purple;
  background-repeat: no-repeat;
}

.btn1,
.btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color: #383838;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

/* footer----------------------------------------------------
 */
.footer {
  margin-top: 80px;
  width: 100%;
  height: max-content;
  background: rgb(82, 65, 102);
  padding: 3rem;
}
.no-head-dude {
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: space-between;
  flex-direction: column;
}
.first-element,
.second-element,
.third-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-element > a,
.second-element > a,
.third-element > a {
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
#main {
  color: white;
  font-weight: 800;
  font-size: 1.2em;
}
.footer-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.first-part-footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5vh;
  align-items: flex-start;
}
.fourth-element {
  margin: 4vh 0;
  display: flex;
  justify-content: space-around;
}
.fourth-element > img {
  width: 20%;
}
/*We are the ma -------- ---------------------------*/

.copy-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
}
.right-reserved p {
  font-size: 0.8em;
  color: #d4d4d4;
  font-weight: 1000;

}
.terms {
  display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    margin-bottom: 2vh;
}
.terms>a{
  text-decoration: none;
  color: white;
}
